div.container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

span.subtitle {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: -20px;
}

h1.title {
    font-size: auto;
}

div.box {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 10px;
    max-height: 120px;
    max-width: 280px;
}